*{
    padding: 0px;
    margin: 0px;
}
.landing-page{
    width: 100%;
    height: 322.6rem;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}
.Header-Navbar{
    box-sizing: border-box;
    padding: 2.4rem 25.4rem 2.5rem 13.6rem;
    width: 144rem;
    height: 8.4rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}
.logo{
    margin: 0.1rem 62.8rem 0rem 0rem;
    width: 10rem;
    height: 3.4rem;
    background-color: #0d28a6;
    flex-shrink: 0;
}
.navigation{
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.our-services{
    margin-right: 3.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.why-us{
    margin-right: 3.9rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.testimonial{
    margin-right: 3.4rem;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.faq{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.hero-section{
    width: 144rem;
    height: 50.4rem;
    position: absolute;
    left: 0;
    top: 0;
}
.container-bg{
    width: 144rem;
    height: 50rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f1f3ff;
}
.img-car{
    width: 70.4rem;
    height: 40.7rem;
    position: absolute;
    left: 73.6rem;
    top: 9.7rem;
}
.bg{
    width: 70.4rem;
    height: 24.3rem;
    position: absolute;
    left: 0;
    top: 16.4rem;
    background-color: #0d28a6;
    border-radius: 6rem 0 0 0;
}
.img{
    width: 70.4rem;
    height: 40.7rem;
    position: relative;
    left: 0;
    top: 0;
    background-size: 107.104% 123.096%;
    background-position: -3.5507rem -6.5rem;
    /* background-image: url(../assets/mercedes-car-eqc-300kw-edition-900x598-1-ftm.png); */
}
.sewa-rental-mobil{
    width: 48.7rem;
    height: 10.8rem;
    position: absolute;
    left: 13.6rem;
    top: 11.7rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
}
.selamat-datang{
    width: 46.8rem;
    height: 6rem;
    position: absolute;
    left: 13.6rem;
    top: 30.1rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
}
.button{
    width: 14rem;
    height: 3.6rem;
    position: absolute;
    left: 13.6rem;
    top: 37.7rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cb85f;
    border-radius: 0.2rem;
    display: flex;
}

/* group-1 */
.group-1{
    box-sizing: border-box;
    padding: 10rem 13.6rem;
    width: 144rem;
    height: 103.6rem;
    position: absolute;
    left: 0;
    top: 50.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.our-services-1{
    margin: 0rem 7.1rem 10rem 7rem;
    width: calc(100% - 14.1rem);
    height: 42.8rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.img-services-1{
    margin-right: 10rem;
    width: 45.9rem;
    height: 100%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
}
.elipse-1{
    width: 13.3rem;
    height: 13.3rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    background-color: #92d094;
    border-radius: 6.65rem;
}
.elipse-2{
    width: 4.8rem;
    height: 4.8rem;
    position: absolute;
    left: 6rem;
    top: 33.6rem;
    background-color: #f9cc00;
    border-radius: 2.4rem;
}
.elipse-3{
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 38.3rem;
    top: 4.3rem;
    background-color: #fa2c5a;
    border-radius: 1.25rem;
}
.group1-1{
    width: 37.4rem;
    height: 42.8rem;
    position: absolute;
    left: 9.9rem;
    top: 0;
}
.elipse-4{
    width: 36rem;
    height: 36rem;
    position: absolute;
    left: 0;
    top: 6.8rem;
    background-color: #0d28a6;
    border-radius: 18rem;
}
.group-1-1{
    width: 37.4rem;
    height: 42.8rem;
    position: absolute;
    left: 9.9rem;
    top: 0;
}
.group-1-1 img{
    width: 36rem;
    height: 36rem;
    position: absolute;
    left: 0;
    top: 6.8rem;
    object-fit: contain;
    vertical-align: top;
}
.girl{
    width: 37.4rem;
    height: 36.6rem;
    position: relative;
    left: 0;
    top: 0;
    background-size: 100.074% 153.552%;
    background-position: -0.0139rem 0;
    background-image: url(asset/happy-girl-961x1443-2.png);
}
.desc{
    margin: 3.6rem 0rem 1.6rem 0rem;
    width: 46.8rem;
    height: calc(100% - 5.2rem);
    flex-shrink: 0;
}
.best-cars{
    margin-bottom: 2.4rem;
    max-width: 39.3rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
}
.frame{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.sewa{
    margin-bottom: 3.6rem;
    max-width: 46.8rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
/* class utama  dalam colom */
.frame-1{
    width: 28.4rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.frame-2{
    width: 100%;
    display: flex;
    /* align-items: center; */
    flex-shrink: 0;
}
.frame-2 img{
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.frame-2 p{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.auto-group{
    box-sizing: border-box;
    padding-top: 1.6rem;
    width: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.group-2{
    margin-right: 0.9rem;
    width: calc(100% - 0.9rem);
    display: flex;
    /* align-items: center; */
    flex-shrink: 0;
}
.group-2 img{
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.group-2 p{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.group-3{
    margin-right: 1.9rem;
    width: calc(100% - 1.9rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.group-3 img{
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.group-3 p{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.group-4{
    margin-right: 0.6rem;
    width: calc(100% - 0.6rem);
    display: flex;
    /* align-items: center; */
    flex-shrink: 0;
}
.group-4 img{
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.group-4 p{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.group-5{
    margin-right: 0.6rem;
    width: calc(100% - 0.6rem);
    display: flex;
    /* align-items: center; */
    flex-shrink: 0;
}
.group-5 img{
    margin-right: 1.6rem;
    width: 2.4rem;
    height: 2.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.group-5 p{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.why-us-1{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.auto-group-1{
    box-sizing: border-box;
    padding-bottom: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.why-us-1-1{
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.why-us-1-2{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-item{
    width: 100%;
    height: 19.6rem;
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
    flex-shrink: 0;
}
.list-item-1{
    box-sizing: border-box;
    padding: 2.4rem;
    width: 26.8rem;
    height: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #d0d0d0;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.list-item-1 img{
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.mobile-lengkap{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.tersedia-banyak{
        max-width: 18.9rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.list-item-2{
    box-sizing: border-box;
    padding: 2.4rem;
    width: 26.8rem;
    height: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #d0d0d0;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.list-item img{
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.harga-murah{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.harga-murah-dan{
    max-width: 19.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.list-item-3{
    box-sizing: border-box;
    padding: 2.4rem;
    width: 26.8rem;
    height: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #d0d0d0;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.list-item img{
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;

}
.layanan-24-jam{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.siap-melayani{
    max-width: 21rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.list-item-4{
    box-sizing: border-box;
    padding: 2.4rem;
    width: 26.8rem;
    height: 100%;
    row-gap: 1.6rem;
    display: flex;
    flex-direction: column;
    border: solid 0.1rem #d0d0d0;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.list-item-4 img{
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.sopir-profesional{
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.sopir-yang-profesional{
    max-width: 20.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.testimonial-1{
    width: 192.1rem;
    height: 43.8rem;
    position: absolute;
    left: 0;
    top: 154rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.auto-testi{
    box-sizing: border-box;
    padding: 0rem 82.9rem 4rem 79rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.testimonial-1-1{
    margin-bottom: 1.6rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.berbagai-review{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-testi{
    margin-bottom: 2.4rem;
    width: 100%;
    height: 27rem;
    display: flex;
    column-gap: 3.2rem;
    align-items: center;
    flex-shrink: 0;
}
.list-testi-1{
    box-sizing: border-box;
    padding: 6.9rem 3.3rem 6.9rem 3.2rem;
    width: 61.9rem;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.150000006);
    background-color: #f1f3ff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.list-testi-text{
    height: 100%;
    row-gap: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.list-testi-text img{
    width: 8rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.lorem{
    max-width: 41.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.john{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-img{
    margin-right: 12.9rem;
    width: 8rem;
    height: 8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(asset/imgphoto-bg-Kg5.png);
    border-radius: 4rem;
    flex-shrink: 0;
}
.list-testi-2{
    box-sizing: border-box;
    padding: 6.9rem 3.3rem 6.9rem 4.6rem;
    width: 61.9rem;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.150000006);
    background-color: #f1f3ff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.img-list-testi-2{
        margin-right: 4.6rem;
    width: 8rem;
    height: 8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(asset/imgphoto-bg-K9s.png);
    border-radius: 4rem;
    flex-shrink: 0;
}
.list-img-2{
    height: 100%;
    row-gap: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.rate{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.star-1{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-2{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-3{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-4{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;

}
.star-5{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.lorem-2{
    max-width: 41.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.john-2{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-testi-3{
    box-sizing: border-box;
    padding: 6.9rem 3.3rem 6.9rem 4.6rem;
    width: 61.9rem;
    height: 100%;
    display: flex;
    align-items: center;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.150000006);
    background-color: #f1f3ff;
    border-radius: 0.8rem;
    flex-shrink: 0;
}
.img-list-testi{
    margin-right: 4.6rem;
    width: 8rem;
    height: 8rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(asset/imgphoto-bg.png);
    border-radius: 4rem;
    flex-shrink: 0; 
}
list-testi-text2{
    height: 100%;
    row-gap: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.rate-2{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.star-1-1{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-1-2{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-1-3{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-1-4{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.star-1-5{
    width: 1.6rem;
    height: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.lorem-3{
    max-width: 41.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.john-3{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.button-carousel{
        margin: 0rem 91.6rem 0rem 91.7rem;
    width: calc(100% - 183.3rem);
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.left-button{
    margin-right: 2.4rem;
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.right-button{
    width: 3.2rem;
    height: 3.2rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.auto-group-2{
    box-sizing: border-box;
    padding: 10rem 13.6rem 12.6rem 13.6rem;
    width: 144rem;
    height: 99.6rem;
    position: absolute;
    left: 0;
    top: 197.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.banner{
    margin-bottom: 10rem;
    box-sizing: border-box;
    padding: 6.4rem 31.1rem 6.4rem 29.6rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #0d28a6;
    border-radius: 1.3rem;
    flex-shrink: 0;
}
.sewa-mobil-lokasimu{
        margin-bottom: 1.6rem;
    text-align: center;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 1.5;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.lorem-4{
    margin: 0rem 0.1rem 5.2rem 0rem;
    max-width: 44.1rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    flex-shrink: 0;
}
.button-mulai-sewa-mobil{
    margin: 0rem 20.3rem 0rem 21.8rem;
    width: calc(100% - 42.1rem);
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #ffffff;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5cb85f;
    border-radius: 0.2rem;
    flex-shrink: 0;
}
.faq-1{
        width: 100%;
    height: 34.4rem;
    display: flex;
    align-items: flex-start;
    flex-shrink: 0;
}
.text-faq{
        margin: 0.4rem 16.1rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.frequently{
    margin-bottom: 1.6rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.lorem-faq{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq{
    width: 66.8rem;
    height: 100%;
    row-gap: 1.6rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.list-faq-1{
    box-sizing: border-box;
    padding: 1.8rem 3rem 1.8rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d4d4d4;
    background-color: #ffffff;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
.list-faq-1 p{
    margin-right: 39.6rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq-1 img{
    width: 1.2rem;
    height: 0.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list-faq-2{
    box-sizing: border-box;
    padding: 1.8rem 3rem 1.8rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d4d4d4;
    background-color: #ffffff;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
.list-faq-2 p{
    margin-right: 32.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq-2 img{
    width: 1.2rem;
    height: 0.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list-faq-3{
    box-sizing: border-box;
    padding: 1.8rem 3rem 1.8rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d4d4d4;
    background-color: #ffffff;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
.list-faq-3 p{
    margin-right: 25.4rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq-3 img{
    width: 1.2rem;
    height: 0.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0; 
}
.list-faq-4{
    box-sizing: border-box;
    padding: 1.8rem 3rem 1.8rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d4d4d4;
    background-color: #ffffff;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
.list-faq-4 p{
    margin-right: 40.2rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq-4 img{
    width: 1.2rem;
    height: 0.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}
.list-faq-5{
    box-sizing: border-box;
    padding: 1.8rem 3rem 1.8rem 2.4rem;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 0.1rem #d4d4d4;
    background-color: #ffffff;
    border-radius: 0.4rem;
    flex-shrink: 0;
}
.list-faq-5 p{
    margin-right: 39.1rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4285714286;
    color: #000000;
    font-family: Arial, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.list-faq-5 img{
    width: 1.2rem;
    height: 0.6rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
}